extends @layouts/Default/Default.layout.pug

block append variables
	-
		pageProps.title = "Blog Detail";

block header
	+CAppHeader(true)

block body
	.container
		section.PBlogDetail-Hero
			.PBlogDetail-Hero__img
				img(src="https://picsum.photos/seed/a-5/1920/1080", alt="alt")
			.PBlogDetail-Hero__body
				time MAY 05, 2021
				h1 12 ways companies are automating workflows with mobile robots
				h6 Industry 4.0, Autonomous Mobile Robots

	section.PBlogDetail-Main
		.container
			.row.gy-4
				.col-lg-4
					aside.PBlogDetail-Sidebar
						h2 12 ways companies are automating workflows with mobile robots
						ul
							li.u-active
								a(href="#") Navigation Software
							li
								a(href="#") Fleet and Traffic Management
							li
								a(href="#") Safety
							li
								a(href="#") User Interface and Mission Planning
							li
								a(href="#") Attachments
							li
								a(href="#") Support
							li
								a(href="#") Tips for Choosing an AMR Provider
							li
								a(href="#") The Milvus Robotics Difference

				.col-lg-8
					.PBlogDetail-Content
						p With a decade of experience, Milvus Robotics is a leading provider of autonomous mobile robots (AMRs). Milvus Robotics’ SEIT AMRs have been deployed all over the globe, and there’s an ever-growing catalog of robots and attachments designed to meet precise needs across multiple industries.
						p In recent years, many new AMR providers have entered the market claiming to have products similar to the AMRs developed by Milvus Robotics. However, there are several key differences between the average competitor’s AMRs and Milvus Robotics’ SEIT AMRs, including:
						ul
							li Navigation software
							li Fleet and traffic management
							li Safety features
							li User interface and mission planning
							li Attachments
							li Integration
							li Support
						p It’s important to understand the differences, advantages, and disadvantages of choosing one type of AMR over another. To learn more about what sets Milvus Robotics apart from the competition as an AMR provider, keep reading.

						h3 Navigation Software
						p A few decades ago, it was challenging to develop a robot that could move autonomously. Now, it’s a much simpler task to create a robot that can move itself from one point to another. While it’s possible to build an AMR using general-purpose methods and applications, the result won’t be the same. A robust, special-purpose, industrial-grade autonomous machine can’t be developed with generic methods.
						p At Milvus, our proficient software and AI teams allow us to develop dedicated navigation algorithms and software. Our navigation software is tested 24/7 for several weeks before ever rolling out onto a factory floor. Our AMRs have nearly unlimited capabilities thanks to our in-house software. We can extend, customize, and develop software to meet your exact requirements.

						h3 Fleet and Traffic Management
						p You may have to scale up your AMR fleet as your company grows and changes over time. Making multiple robots work in harmony is a challenging problem, and many AMR providers cannot provide this feature. If you use AMRs without fleet and traffic management capabilities, it will be very difficult to add a new robot to the workflow. It will be more costly and less efficient – much like purchasing a train locomotive each time you need a new wagon!
						p At Milvus, we have our own Fleet Management System which constantly monitors and controls all robots in the fleet. Adding a new robot is simple and only takes a few clicks in the user interface. Once a new robot is added to the fleet, all the AMRs will welcome their new colleague and work side by side autonomously at maximum efficiency. Traffic will be monitored by the Traffic Management System, which can prioritize important tasks while eliminating the possibility of traffic jams and inefficient routes.




	section.PBlogDetail-Related
		.container
			h4 Related Contents
			.row.gy-4
				- let n = 1;
				while n <= 3
					.col-lg-4
						.PBlog-Posts__post
							.PBlog-Posts__post__img
								a(href="#")
									img(src=`https://picsum.photos/seed/a-${n}/1920/1200`, alt="alt")
							.PBlog-Posts__post__body
								time MAY 05, 2021
								h3
									a(href="#") 12 ways companies are automating workflows with mobile robots
								strong Autonomous Mobile Robots
								p One of the most appealing features of AMRs is their ability to complete various different tasks and navigate virtually any environment. They are flexible and adaptable.
					- n++
