@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Thin.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-UltraLight.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-UltraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-BoldItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Bold.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-RegularItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-BlackItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-UltraLightItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-UltraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Heavy.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-HeavyItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-HeavyItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-ThinItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Regular.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Black.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-LightItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-DemiBold.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-Light.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-DemiBoldItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-DemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-ExtraLight.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NuberNext";
	src: url("@assets/fonts/NuberNext/NuberNext-ExtraLightItalic.woff2") format("woff2"),
		url("@assets/fonts/NuberNext/NuberNext-ExtraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
